python-telegram-bot == 11.1.0
Jinja2 == 2.10.1
SQLAlchemy == 1.3
PyMySQL == 0.9.3
alembic == 1.0.8
# Admin web
# version 2.2 contins a bug that breaks PyMySQL
#git+git://github.com/django/django.git@master
